rules = [
  {% for dev in rename_devices %}
  {
    matches = [
      {
        node.name = "{{ dev.id }}"
      }
    ]
    actions = {
      update-props = {
        node.description = "{{ dev.desc }}"
        {% for upd in dev.upd %}
        {{ upd }}
        {% endfor %}
      }
    }
  }
  {% endfor %}
]
