rules = [
  {% for dev in rename_devices %}
  {
    matches = [
      {
        node.name = "{{ dev.id }}"
      }
    ]
    actions = {
      update-props = {
        node.description = "{{ dev.desc }}"
        {% for upd in dev.upd %}
        {{ upd }}
        {% endfor %}
      }
    }
  }
  {% endfor %}
  {
    matches = [
      {
        # Only motherboard headphone out:
        node.name = "~alsa_output.pci-0000_0d_00.4.analog-stereo.monitor"
      }
    ]
    actions = {
      update-props = {
        #node.nick              = "My Node"
        #node.nick              = null
        #priority.driver        = 100
        #priority.session       = 100
        node.pause-on-idle      = false
        #resample.quality       = 4
        #channelmix.normalize   = false
        #channelmix.mix-lfe     = false
        #audio.channels         = 2
        #audio.format           = "S16LE"
        #audio.rate             = 44100
        #audio.position         = "FL,FR"
        #session.suspend-timeout-seconds = 5      # 0 disables suspend
        #monitor.channel-volumes = false

        api.alsa.period-size   = 128
        api.alsa.headroom      = 1024
        #api.alsa.start-delay   = 0
        #api.alsa.disable-mmap  = false
        #api.alsa.disable-batch = false
        #api.alsa.use-chmap     = false
      }
    }
  }
]
